@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @{
            int counted = 0;
            var total = 0;
            var totalMessage = "";
            string[] languages = { "HTML", "Jade", "Sass", "Rails" };
            if (IsPost)
            {

                // Retrieve the numbers that the user entered.
               
                var num1 = Request["text1"];
                var num2 = Request["text2"];

                // Convert the entered strings into integers numbers and add.
                total = num1.AsInt() + num2.AsInt();
                totalMessage = "Total = " + total;
                
             
                counted += 1;
               
            }
        }
        <p>Enter two whole numbers and then click <strong>Add</strong>.
        <form action="" method="post">
            <p>
                <label for="text1">First Number:</label>
                <input type="text" name="text1" />
            </p>
            <p>
                <label for="text2">Second Number:</label>
                <input type="text" name="text2" />
            </p>
            <p><input type="submit" value="Add" /></p>

           
        </form>
        <p>Counted @counted times.</p>
        <p>@totalMessage</p>
        <p>An array of languages</p>
        <ul>
        @foreach(var lang in languages){
            <li>@lang</li>
        }
        </ul>
        

    </div>
    <div class="col-md-4">
        <h2>Modal Dialog</h2>
        <p>
            <a class="btn btn-warning" data-toggle="modal" href="#myModal">Normal Modal (failing)</a>

            @using (var modal = Html.Bootstrap().Begin(new Modal(new { id = "myModal" })))
            {
                using (var header = modal.BeginHeader())
                {
                    <button type="button" class="close"
                            data-dismiss="modal">
                        ×
                    </button>
                    <h3>Modal header</h3>
                }
                using (var body = modal.BeginBody())
                {
                <p>One fine body…</p>
                }
                using (var footer = modal.BeginFooter())
                {
                    @Html.Bootstrap().Button("Close", BootstrapNamedColor.Default, null, new { data_dismiss = "modal" })
                    @Html.Bootstrap().Button("Save Changes", BootstrapNamedColor.Primary, null)
                }
            }
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tabs</h2>
        @using (var tabs = Html.Bootstrap().Begin(new Tabs()))
        {
            tabs.Tab("Tab One", "tab1");
            tabs.Tab("Tab Two", "tab2");
            tabs.Tab("Tab Three", "tab3");

            using (tabs.BeginPanel())
            {
                <p>This is tabs panel 1 content</p>
            }
            using (tabs.BeginPanel())
            {
                <p>This is tabs panel 2 content</p>
            }
            using (tabs.BeginPanel())
            {
                <p>This is tabs panel 3 content</p>
            }
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <h2>Carousel</h2>
        @using (var carousel = Html.Bootstrap().Begin(new Carousel("carousel1")))
        {
            carousel.Item("http://placehold.it/850x550/cc0000", "Red");

            using (var item = carousel.ItemWithCaption("http://placehold.it/850x550/00ff00", "Green"))
            {
                <h4>This is Green</h4>
                <p>Green is a nice color</p>
            }

            carousel.Item("http://placehold.it/850x550/0000ff", "Blue");
        }
    </div>
</div>